
	<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>The Skin Diagonesis</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		 <link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light top-nav">
	  <div class="container">
		<a class="navbar-brand" href="index">
			<img src="../images/logo-f.png" width="150px">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav ms-auto">
			<li class="nav-item">
			  <a class="nav-link" aria-current="page" href="index.html">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="works.html">How It Works</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="about.html">About</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="predict.html">Predict</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="resources.html">Resources</a>
			  </li>
			<li class="nav-item">
			  <a class="nav-link" href="contact.html">Contact Us</a>
			</li>
			
		  </ul>
		</div>
	  </div>
	</nav>
<section class="ban-sec">
	<div class="container" style="height:100%;">
		<div class="row align-items-center" style="height:100%;">

			<div class="col">
				<div class="ban-cont" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
					<h3>Predict Your Risk<br> Protect Your Future</h3>
						<p style="font-weight:500;">Secure your future with early skin cancer detection. Our prediction tool offers a simple and accurate way to evaluate your risk, giving you the information you need to protect your health and well-being.</p>
						<br>
						<a href="predict.html"><button class="my-btn"><span class="btn-span">Check Now</span></button></a>
				</div>
			</div>
			<div class="col-md-6 position-relative h-100 d-none d-md-block">
				<img src="../images/skin-ban-1.png" class="ban-img-1">
				<img src="../images/skin-ban-2.png" class="ban-img-2">
				<img src="../images/skin-ban-3.png" class="ban-img-3">
				<img src="../images/skin-ban-4.png" class="ban-img-4">
            </div>
			</div>
		</div>
</section>

<section class="ab-sec position-relative" style="box-shadow: 0px -20px 20px 0px #f9ebe8;">
	<div class="container position-relative">
		<div class="row align-items-center">
			<div class="col-md-6 position-relative ab-img">
				<img src="../images/about-layer-1.png" class="w-100" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
                <img src="../images/about-layer-2.png" class="w-100" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
                <img src="../images/about-layer-3.png" class="w-100" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                <img src="../images/about-layer-4.png" class="w-100" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                </div>
				<div class="col-md-6">
					<div class="ab-cont">
						<div class="heading-div">
							<h2>About</h2>
							<h3>Welcome To</h3>
						</div>
						<h4>The Skin Diagonesis</h4>
						<p>Our state-of-the-art prediction tool uses advanced algorithms to analyze skin images and evaluate the risk of skin cancer. By examining various characteristics of the skin, our tool offers insights that can help users identify potential issues early. We aim to provide a valuable resource for individuals who are proactive about their health and seek to detect potential skin cancer risks before they become serious.</p>
						<p>We envision a world where skin cancer is detected early, treated effectively, and ultimately prevented. By making advanced skin cancer prediction tools accessible to everyone, we hope to contribute to a future where skin cancer is no longer a major health threat.</p>
						<a href="predict.html"><button class="my-btn"><span class="btn-span">Check Now</span></button></a>
					</div>
				</div>

			</div>
		</div>
        <img src="../images/lotus-flwr.png" class="lotus-small d-none d-md-block">
</section>
<section class="benefit-main-sec position-relative">
	<div class="container">
        <div class="heading-div">
			<h2>How It Works</h2>
			<h3>Welcome To</h3>
		</div>
        <h4>The Skin Diagonesis</h4>
		<div class="row row-cols-1 row-cols-md-4 g-4" style="margin-top:2rem;">
			<div class="col">
				<div class="card h-100 position-relative">
					<img src="../images/benefit-skin-1.jpg" class="card-img-top" alt="...">
					<div class="card-body position-absolute">
						<h5 class="card-title">Upload Your Skin Image</h5>
						<p class="card-text">Start by uploading a clear, high-quality image of the skin area you’re concerned about. Our tool is designed to analyze various aspects of the skin condition, so ensure that the image is well-lit and in focus for the most accurate results.</p>
					</div>
                    <div class="bene-card-icon">
                        <i class="bi bi-arrow-up" style="font-size:30px; color:var(--yellow-brown);"></i>
                    </div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100 position-relative">
					<img src="../images/benefit-skin-2.jpg" class="card-img-top" alt="...">
					<div class="card-body position-absolute" >
						<h5 class="card-title">Analyze the Image</h5>
						<p class="card-text">Once your image is uploaded, our advanced algorithms and machine learning technology analyze the skin features and patterns. This process involves evaluating the texture, color, and shape of the skin to detect any abnormalities that might indicate a risk of skin cancer.</p>
					</div>
                    <div class="bene-card-icon">
                        <i class="bi bi-arrow-up" style="font-size:30px; color:var(--yellow-brown);"></i>
                    </div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100 position-relative">
					<img src="../images/benefit-skin-3.jpg" class="card-img-top" alt="...">
					<div class="card-body position-absolute">
						<h5 class="card-title">Receive Your Risk Assessment</h5>
						<p class="card-text">After the analysis, you will receive a detailed risk assessment report. This report provides an overview of your potential risk level and highlights any areas that may require further attention. The results are presented in a clear and easy-to-understand format.</p>
					</div>
                    <div class="bene-card-icon">
                        <i class="bi bi-arrow-up" style="font-size:30px; color:var(--yellow-brown);"></i>
                    </div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100 position-relative">
					<img src="../images/benefit-skin-3.jpg" class="card-img-top" alt="...">
					<div class="card-body position-absolute">
						<h5 class="card-title">Take Action</h5>
						<p class="card-text">Based on your risk assessment, we provide recommendations for next steps. If your results suggest a higher risk, we encourage you to consult a healthcare professional for a comprehensive evaluation. Additionally, explore our resources for tips on skin health and preventive measures.</p>
					</div>
                    <div class="bene-card-icon">
                        <i class="bi bi-arrow-up" style="font-size:30px; color:var(--yellow-brown);"></i>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="prod-sec position-relative" style="box-shadow: 0px -20px 20px 0px #fff;" >
	<div class="container mb-5" id="featured" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
		<div class="heading-div">
			<h2 class="text-center" style="color:#f9ebe8;">Our Team</h2>
			<h3 style="left:0;right:0;margin:auto;">Welcome To</h3>
		</div>

		<h1 style="margin-bottom:3rem;">The Skin Diagonesis</h1>


		<!-- [% include('all-products.html') %] -->

	</div>
</section>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-12">
				<img src="../images/logo-f.png" width="180px"><br>
				<img src="../images/cart.png">
			</div>
			<div class="col-md-4 col-12">
				<ul class="footer-cont">
					<h1>Contact Info</h1>
					<li>
						<h2>Address:</h2>
						<p>The Skin Diagonesis<br>XYZ</p>
					</li>
					<li>
						<h2>Phone:</h2>
						<p>0000000000</p>
					</li>
					<li>
						<h2>Email:</h2>
						<p>test@gmail.com</p>
					</li>
				</ul>
			</div>
			<div class="col-md-4 col-12">
				<ul class="footer-cont">
					<h1>Quick Links</h1>
					<li>
						<a href="index">Home</a>
					</li>
					<li>
						<a href="shop">Products</a>
					</li>
					<li>
						<a href="terms">Terms & condition</a>
					</li>
					<li>
						<a href="privacy">Privacy Policy</a>
					</li>
					<li>
						<a href="contact">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
	<hr class="bg-white">
	<span class="footer-copyright">Copyright &copy; The Skin Diagonesis All Rights Reserved</span>
	</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
	  AOS.init();
	</script>
</body>

</html>