<html lang="en" ng-app="[[ng_app_id]]" ng-controller="LandingPageCtrl" ng-cloak>
<div class="other-header">
	[% include('header.html') %]
</div>
<div class="other-ban">
	<h1>Terms & Conditions</h1>
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb justify-content-center">
			<li class="breadcrumb-item"><a href="index">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
		</ol>
	</nav>
</div>
<div class="container" style="margin-top:50px;margin-bottom:50px;">
      <h2>CAREFULLY READ AND UNDERSTAND THESE TERMS BEFORE ORDERING ANY PRODUCT THROUGH THIS WEBSITE.</h2>
    <p><b>ATTENTION: </b>This is a legal agreement (the "Agreement") between You, the individual, company or organization ("you," "your," or "Customer") and <span style=" color: #000;">[[company_name]] </span>("we," "our", "Company"). By ordering, accessing, using or purchasing <span style=" color: #000;">[[funnel_url]]</span>("Product") through this website or related websites (collectively the "Website"), you are agreeing to be bound by, and are becoming a party to, this Agreement. We may at our sole and absolute discretion change, add, modify, or delete portions of this Agreement at any time without notice. It is your sole responsibility to review this Agreement for changes prior to use of the Website or purchase of the Product.</p>
    <p>IT IS STRONGLY RECOMMENDED THAT YOU REVIEW THIS DOCUMENT IN ITS ENTIRETY BEFORE ACCESSING, USING OR BUYING ANY PRODUCT THROUGH THE WEBSITE AND PRINT A COPY FOR YOUR RECORDS.</p>


    <div class="collection">
      <h2>Terms &amp; Conditions</h2>
      <p>Please carefully read the following terms and conditions as when you purchase any of the products from our web site, you agree and are bound to the following terms and conditions. Your order will not be processed unless you check the box near the terms and conditions signifying that you have read and agreed to the terms.</p>

      <p>This Agreement is between our Company and you ("you" or "Customer"). This Section sets forth the terms and conditions which apply to the use by you of the website (as defined below) and any other product or service offered for sale by us and/or our affiliates.</p>

      <p>The right to use any product or service offered by our Company is personal to you and is not transferable to any other person or entity. We reserve the right to make changes to the website, policies, and these terms at any time without notice.</p>
    </div>
    
    <div class="collection">
      <h2> Offer Terms:</h2>

[[product_name_1]] at [[currency]][[crm_product_price_1]] (One-time Purchase)<br>
[[product_name_2]] at [[currency]][[crm_product_price_2]] (One-time Purchase)<br>
[[product_name_3]] at [[currency]][[crm_product_price_3]] (One-time Purchase)<br>
[[product_name_4]] at [[currency]][[crm_product_price_4]] (One-time Purchase)<br>
[[product_name_5]] at [[currency]][[crm_product_price_5]] (One-time Purchase)<br>


This charge will appear on your billing statement as [[credit_card_descriptor]].
    </div>

    <div class="collection">
      <h2>Ordering &amp; Shipping</h2>
      <p>By placing an order, you will be charged the full price of the package you selected and the order will be shipped to the address you provided during checkout. All packages are shipped via USPS First Class Delivery and are estimated to arrive within 2-4 business days from the day you place the order.</p>
    </div>

    <div class="collection">
      <h2>Indemnification</h2>
      <p>You agree to defend, indemnify and hold harmless the Company, its affiliates and their respective directors, officers, employees and agents from and against all claims and expenses, including attorneys' fees, arising out of the use by you of the website, including claims by other users, access, products.</p>
    </div>


    <div class="collection">
      <h2>
        One Time Purchase terms:
      </h2>
      <p>
        When ordering your item, you will be charged depending on which item is selected at the time of the order. There will be no additional charges after the completion of this one time transaction. If this product is not right for you, or you have any questions, contact customer service with any questions by calling [[domain_support_phone]] or e-mailing [[domain_support_email]]. Charges will appear on your credit card statements as [[credit_card_descriptor]].
      </p>
    </div>
    

      <div class="collection">
        <h2>Return Policy</h2>
        <p>We believe in complete customer satisfaction<span style=" color: #000;">. You have 30 days to request a refund after you have received your order. We reserve the right to refuse a refund to any customer who repeatedly requests refunds or who, in our judgment, requests refunds in bad faith.</span></p>
        <p>To return a product, you will need to obtain a Return Merchandise Authorization (RMA) number by contacting us at <span style=" color: #000;">[[domain_support_phone]]</span>. Our customer service department will email you an RMA number within 24-48 hours of your request. <!--You will be refunded only for the unopened units you send back to us.--> You will need to send the product back to the address provided below. Upon receipt you will receive a full refund of purchase price<!--, minus the shipping, handling or other charges-->. Refused or returned packages that are sent to us without prior approval from Customer Care are not eligible for a refund.</p>
        <p>Our call center is open daily from 8am to 5:30pm Pacific Time.</p>
      </div>

      <div class="collection">
        <h2>Return Address:</h2>
        <p>If you are not satisfied and want to return the product, please write an email with your location to [[domain_support_email]] and we will provide you with the address of the nearest return center.
        </p><p><b>Be sure to write your RMA # on the outside of the envelope for proper account credit.</b></p>
        <p>We are not responsible for lost or stolen items. We recommend all returned items to be sent using some type of delivery confirmation system to ensure proper delivery.</p>

        <p>After the shipping department receives your return, it generally takes 7 business days or sooner to process your refund. Once a return is processed, it usually takes 3-5 business days for the return to be posted to your account, depending on your financial institution.</p>

        <p>
          (Fulfillment House)<br>
          [[address_return | raw]]
        </p>

        <ul>
          <li><p>Packages marked "Return to Sender" will NOT be processed or refunded. Returned packages will only be refunded with an RMA number that was provided by Customer Service. Call Customer Service at <span style=" color: #000;">[[domain_support_phone]] </span>for <span style=" color: #000;">your RMA number. RMA numbers remain valid for 30 days.</span></p>
          </li>
          <li><p>Refunds will only be issued to the same form of payment originally used for purchase.</p></li>
          <li><p>Customer is responsible for return shipping charges.</p></li>
          <li><p>After the warehouse receives your return, it generally takes 7 business days to process your return. Please keep in mind that your bank typically posts credit in the billing cycle in which it was received. Therefore, the number of days it takes for credit to post to your account <span style=" color: #303030;">may vary, depending on your banking institution's billing and credit schedule.</span></p>
          </li>
          
          </li>
        </ul>
      </div>


      <!--<div class="collection">
        <h2>Reversals &amp; Chargebacks</h2>
        <p>We consider Chargebacks and reversals as potential cases of fraudulent use of our services and/or theft of services, and will be treated as such. We reserve the right to file a complaint with the appropriate local and federal authorities to investigate. Be advised that all activity and IP address information is being monitored and that this information may be used in a civil and/or criminal case(s) against a client if there is fraudulent use and or theft of services.</p>
      </div>-->

      <div class="collection">
        <h2>Representations</h2>
        <p>You hereby represent and warrant that:</p>

        <ol id="l2"><li><p>You are age eighteen (18) or older.</p>
          </li><li><p>You have read this Agreement and thoroughly understand the terms contained.</p>
          </li><li><p>You further represent that our Company has the right to rely upon all information and may contact you by email, telephone or postal mail for any purpose regarding the use of this website</p>
          </li></ol>
      </div>

      <div class="collection">
        <h2>Billing &amp; Customer Support</h2>
        <p>We welcome all support inquires by the following methods:</p>
        <p>Phone: [[domain_support_phone]]</p>
        <p>[[domain_support_email]]</p>         

        <p>
          [[company_name]] <br>
          [[address_inline]]
        </p>
      </div>
</div>

[% include('footer.html') %]